/*  your css code here. If applicable */
body{
	background-color:  #f5f5f5;
	display:flex;
}
.header{
	background-color : #011e29;
	color:white;
	text-align:center;
	padding:2px;
}

.latest-news-section{
	/* display:flex; */
	padding : 2px 0px;
	background-color:#fcfefd;
	width:200px;
	border:#fcfefd;
    border-radius : 4px;
	
}
.Article{
	padding : 2px 0px;
	background-color:#fcfefd;
	border:#fcfefd;
    border-radius : 4px;
}

.pictorial-news-section{
	background-color: #fcfefd;
	padding:2px;
	width:200px;
	text-align:center;
	border-radius:4px;
}