/*  your css code here. If applicable */
body{
	background-color:  #f5f5f5;
	display:flex;
}
.header{
	background-color : #011e29;
	color:white;
	text-align:center;
}

.Box1{
	/* display:flex; */
	padding : 2px 0px;
	background-color:#fcfefd;
	border:#fcfefd;
    border-radius : 4px;
	
}
.Article{
	padding : 2px 0px;
	background-color:#fcfefd;
	border:#fcfefd;
    border-radius : 4px;
}

img{
	width: 200px;
}